.container {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.5s;
  border: 2px solid #14279b;
  background-color: transparent;
}

.container:hover {
  background-color: #14279b;
  color: white;
}
