@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 80px;
  max-width: 1200px;
}

.title {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title::before,
.title::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #14279b;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.title::before {
  left: 50%;
  transform: translateX(-270px) translateY(-50%);
}

.title::after {
  right: 50%;
  transform: translateX(270px) translateY(-50%);
}

.intro {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

.processList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -10px;
  margin-right: -10px;
}

.card {
  width: calc(25% - 30px);
  border: none;
  animation: fadeIn 1s ease-in-out;
  margin: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  background: #f6f6f6;
  transition: ease-in-out 0.3s;
}
.card:hover {
  background: #f3f9fd;
  color: #14279b;
}

.cardTitle {
  font-size: 15px;
}

.cardDescription {
  margin-top: 10px;
  font-size: 1.2rem;
}

.iconContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  font-size: 2rem;
  margin-right: 10px;
}

.cardText {
  font-size: 1rem;
}

.firstIcon {
  color: #ffc107;
}

.secondIcon {
  color: #2394fd;
}

.threeIcon {
  color: #e80368;
}

.fourIcon {
  color: #e361ff;
}

.fiveIcon {
  color: #47aeff;
}

.sixIcon {
  color: #ffa266;
}

.sevenIcon {
  color: #efe436;
}

.eightIcon {
  color: #3d7fff;
}

.nineIcon {
  color: #ba9b60;
}

.tenIcon {
  color: #f652af;
}

.elevenIcon {
  color: #ff6235;
}

.twelveIcon {
  color: #46da79;
}

/* Media Queries */
@media (max-width: 1400px) {
  .card {
    width: calc(33.33% - 20px); /* Three cards per row */
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 40px;
  }
  .card {
    width: calc(43.33% - 20px); /* Three cards per row */
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 20px;
  }
  .card {
    width: calc(50% - 20px); /* Two cards per row */
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
  .card {
    width: calc(50% - 20px); /* Two cards per row */
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
  .card {
    width: 100%; /* One card per row */
    margin-left: 20px;
    margin-right: 20px;
  }
}
